.elemento_1{
	background-color: rgb(245,245,220);
}
.elemento_2{
	background-color: rgb(154,205,050);
}
.elemento_3{
	background-color: rgb(23,178,170);
}
.elemento_4{
	background-color: rgb(128,128,128);
}